<body class = "page">
<div class = "eleven columns">
<h1>Listing posts</h1>

<table>

<% @posts.each do |post| %>
  <tr>
    <div class = "nine columns">
    <div id = "container">
    <div class ="title"><h2><%= link_to post.title , post%></h2></div>
        <div id ="options">
        <div class ="button-group radius">
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' } %></div>
    </div>
    <div class ="body"><%= post.body %></div>
    </div>
  </tr>
<% end %>
</table>

<br />