/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

 /* Use @font-face to manage Zurb's icon font set */
 @font-face {
 	font-family: SocialFoundicons;
 	src: url('fonts/social_foundicons.eot');
 	src: url('fonts/social_foundicons.eot?#iefix') format('embedded-opentype'),
 	url('fonts/social_foundicons.woff') format('woff'),
 	url('fonts/social_foundicons.ttf') format('truetype'),
 	url('fonts/social_foundicons.svg#SocialFoundicons') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }

 [class*="foundicon-"] {
 	display: inline;
 	width: auto;
 	height: auto;
 	line-height: inherit;
 	vertical-align: baseline;
 	background-image: none;
 	background-position: 0 0;
 	background-repeat: repeat;
 }

 [class*="foundicon-"]:before {
 	font-family: "SocialFoundicons";
 	font-weight: normal;
 	font-style: normal;
 	text-decoration: inherit;
 }

/*The Navbar!*/

.navigation {
	margin-top: -20px;
}

.logo {
	float:left;
	margin-left: -15px;
}

.new-post {
	margin-right: 0.5%;
	margin-top: 0.5%;
}

#user-menu {
	border:none;
	background:none;
	height: 40px;
	float: right;
	margin-top: -2.4%;
	margin-right: -1%;}

#user-menu ul.button.dropdown {
position: relative;
background: none;
border:none;
border-left: 1px solid black;
font-weight:lighter;
box-shadow:none;
}

#user-menu .button.dropdown ul.no-hover.show-dropdown {
margin-top:3px;
}


/*The Post Index!*/

#container .title {
	margin-top: -20px;
}

#container {
	background-color:white;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 12px;
	box-shadow: 1px 1px 1px #999;
}

.page {
	background-color: #DEDEDE;
}

#options {
	text-align: right;
	margin-top: -40px;
	margin-bottom: 20px;
}

.page table {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 1px 1px 1px white;
}